.link-button {
  padding: 10px;
  background: rgba(255,255,255,0.6);
  border-radius: 10px;
  font-size: 40px;
  color: rgba(0,0,0,0.6);
  text-decoration: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.link-button:hover {
  background: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.6);
}