.home-container {
  @extend %flex-double-center-container;
  flex-direction: column;
}

.say-hello-button {
  @extend .link-button;
  font-size: 14px;
  margin-top: 16px;
  border-radius: 5px;
  color: rgba(0,0,0,0.8);
}